amqp==5.3.1
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
billiard==4.2.4
CacheControl==0.14.4
cbor2==6.1.2
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.7
Chroma==0.2.0
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==48.0.0
daphne==4.2.2
decorator==5.3.1
defusedxml==0.7.1
dj-rest-auth==7.2.0
Django==6.0.5
django-allauth==65.18.0
django-celery-beat==2.9.0
django-redis==7.0.0
django-timezone-field==7.2.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
firebase_admin==7.4.0
google-api-core==2.31.0
google-auth==2.53.0
google-cloud-core==2.6.0
google-cloud-firestore==2.27.0
google-cloud-storage==3.11.0
google-crc32c==1.8.0
google-resumable-media==2.10.0
googleapis-common-protos==1.75.0
grpcio==1.81.0
grpcio-status==1.81.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.17
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
Incremental==24.11.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
moviepy==2.2.1
msgpack==1.1.2
numpy==2.4.6
oauthlib==3.3.1
packaging==26.2
pillow==11.3.0
proglog==0.1.12
prompt_toolkit==3.0.52
proto-plus==1.28.0
protobuf==7.35.0
psycopg2-binary==2.9.12
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
PyJWT==2.13.0
pyOpenSSL==26.2.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python3-openid==3.2.0
PyYAML==6.0.3
redis==8.0.0
referencing==0.37.0
requests==2.34.2
requests-oauthlib==2.0.0
rpds-py==2026.5.1
service-identity==26.1.0
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
Twisted==26.4.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
ujson==5.12.1
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
zope.interface==8.5
